* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

:root {
    --ff-heading: 'Poppins', 'sans-serif';


    font-size: 62.5%;
    /*10px*/

    /*-----For Desktop-----*/
    --fs-dkt-heading: 2.0rem;
    --fs-dkt-body: 3.2rem;
    --fs-dkt-texts: 1.8rem;

    --fs-dkt-bots-head: 2.4rem;
    --fs-dkt-bots-text: 2.0rem;

    --fs-dkt-team-name: 1.6rem;
    --fs-dkt-team-job: 1.8rem;

    /*-----For Mobile-----*/

    --fs-mbl-heading: 1.6rem;
    --fs-mbl-body: 1.8rem;
    --fs-mbl-texts: 1.2rem;

    --fs-mbl-bots-head: 1.2rem;
    --fs-mbl-bots-text: 1.0rem;

    --fs-mbl-team-name: .8rem;
    --fs-mbl-team-job: 1.0rem;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #4f0a85, #4f0a85);
}


/*-------------------- Header --------------------*/

header {
    background: rgba(54, 29, 105, 0.9);
    position: sticky;
    top: 0;

    width: 100%;
    z-index: 999;
    /* This will bring the header in front of the main body part, because its specifiyng the stack order of the elements*/
}

header img {
    height: 4.6rem;
    width: 4.6rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: var(--fs-dkt-texts);
    font-weight: 400;
    font-family: 'Poppins', 'sans-serif';
}

.login-button button {
    border: none;
    background-color: blueviolet;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/*-------------------- Main --------------------*/

main {
    margin-top: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*-------------------- Slider --------------------*/

.img-slider {
    position: relative;
    width: 80rem;
    height: 40rem;
    margin-top: -35rem;
}

.chart {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/*-------------------- About Section --------------------*/

.aboutSectionContainer {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
}

.aboutSectionContainer img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.aboutSectionContainer_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.aboutSectionContainer h1 {
    width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #ffffff;
}

.aboutSectionContainer p {
    width: 300px;
    height: 250px;
    margin-left: 42px;
    margin-right: 42px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;

    color: #ffffff;
}



/*-------------------- Bot Section --------------------*/
#Bots_id {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    width: 385px;
    height: 320px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 50px;
}

#Bots_id h1 {
    width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #ffffff;
}

.mySwiper {
    height: 300px;
    width: 100vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-prev {
    margin-left: -10px;
}

.swiper-button-next {
    margin-right: -10px;
}

.swiper-slide {
    width: 120px;
    height: 150px;
    border-radius: 20px;
    color: black;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide h3 {
    padding-top: 8px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.swiper-slide p {
    padding-top: 8px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px
}

.swiper-slide img {
    display: block;
    width: 100px;
    height: 78px;
    object-fit: cover;
}


/*-------------------- Team Section --------------------*/


.teamSectionContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamSectionContainer h1 {
    width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #ffffff;
}

.member-swiper .swiper-wrapper {
    margin-top: 50px;
    display: flex;
    gap: 5rem;
}

.team_photo {
    display: block;
    width: 100px;
    height: 78px;
    object-fit: cover;

    margin-top: 1rem;
    border-radius: 10px;
}

.member-name {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;

    color: black;
}

.member-spec {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;

    color: black;
}


@media screen and (min-width: 1080px) {

    /*-------------------- Header --------------------*/
    header img {
        height: 6.6rem;
        width: 6.6rem;
    }

    .login-button button a {
        font-size: 1.8rem;
    }

    /*-------------------- Slider --------------------*/

    .chart {
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

    .img-slider {
        width: 90rem;
    }

    /*-------------------- About Section --------------------*/

    .aboutSectionContainer {
        flex-direction: row;
        gap: 100px;

        margin-top: 20rem;
        margin-bottom: 20rem;
    }

    .aboutSectionContainer img {
        width: 350px;
        height: 350px;
        border-radius: 20px;
    }

    .aboutSectionContainer h1 {
        width: 450px;
        font-size: 28px;
    }

    .aboutSectionContainer p {
        width: 450px;
        font-size: 18px;
        line-height: 24px;
    }


    /*-------------------- Bot Section --------------------*/

    #Bots_id {
        margin-bottom: 20rem;

        width: 1000px;
        height: 380px;
    }

    #Bots_id h1 {
        width: 350px;
        font-size: 28px;
    }

    .swiper-slide {
        width: 200px;
        height: 200px;
    }

    #Bots_id h3 {
        font-size: 22px;
        line-height: 20px;
    }

    #Bots_id p {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .swiper-slide img {
        width: 200px;
        height: 120px;
    }

}


@media screen and (min-width: 730px) and (max-width: 1079px) {

    /*-------------------- Header --------------------*/

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 1.2rem;
    }

    .mobile-meu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-meu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

    /*-------------------- Slider --------------------*/

    .img-slider {
        width: 60rem;
        height: 37.5rem;
    }

    .chart {
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }


    /*-------------------- About Section --------------------*/

    .aboutSectionContainer {
        flex-direction: row;

        margin-top: 15rem;
        margin-bottom: 15rem;
    }

    .aboutSectionContainer img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }

    .aboutSectionContainer h1 {
        width: 350px;
        font-size: 22px;
    }

    .aboutSectionContainer p {
        width: 350px;
        font-size: 14px;
        line-height: 20px;
    }


    /*-------------------- Bot Section --------------------*/

    #Bots_id {
        margin-bottom: 15rem;

        width: 500px;
        height: 380px;
    }

    #Bots_id h1 {
        width: 350px;
        font-size: 22px;
    }

    .swiper-slide {
        width: 200px;
        height: 200px;
    }

    #Bots_id h3 {
        font-size: 22px;
        line-height: 20px;
    }

    #Bots_id p {
        font-size: 14px;
        line-height: 14px;
    }


    /*-------------------- Team Section --------------------*/



}









@media screen and (max-width: 729px) {

    /*-------------------- Header --------------------*/

    header {
        width: 100vw;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 1.2rem;
    }

    .mobile-meu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-meu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

    /*-------------------- Slider --------------------*/

    .img-slider {
        width: 32rem;
        height: 20rem;
    }

    .chart {
        border-radius: 20px;
        width: 300px;
        height: 150px;
    }
}





















/*
#optionsButton {
    width: 4.6rem;
    height: 4.6rem;
    padding-right: 50px;
    border-radius: 1.0rem;

    background-color: aqua;
    cursor: pointer;

    transition: background 0.3s;
    
}

#optionsButton:hover {
    background-color: red;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.mainHeader ul {
    display: flex;
    flex-direction: row;
    
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: 700;

    color: #ffffff;
}


.loginSection {
    display: flex;
    flex-direction: row;
    margin-left: 80%;
}
/