<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAB Website</title>

    <!--     Google FONTS     -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!--     Swiper CSS     -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!--     Style     -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />

    <!--Teste js leo grafico-->
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>
    <header>

        <nav class="nav-bar">
            <div class="logo">
                <img src="assets/IMG/Gyraph_logo_alone.png" alt="">
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="#Graphics_id" class="nav-link"
                            data-text="&nbsp;Graphics">&nbsp;Graphics&nbsp;</a></li>

                    <li class="nav-item"><a href="#About_id" class="nav-link"
                            data-text="&nbsp;About">&nbsp;About&nbsp;</a></li>

                    <li class="nav-item"><a href="#Bots_id" class="nav-link" data-text="&nbsp;Bots">&nbsp;Bots&nbsp;</a>
                    </li>

                    <li class="nav-item"><a href="#Team_id" class="nav-link" data-text="&nbsp;Team">&nbsp;Team&nbsp;</a>
                    </li>

                    <li class="nav-item"><a href="#Contact_id" class="nav-link"
                            data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a></li>

                </ul>
            </div>

            <div class="login-button">
                <button><a href="#">Login</a></button>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="assets/IMG/menu_white_36dp.svg"></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="#Graphics_id" class="nav-link" data-text="&nbsp;Graphics">&nbsp;Graphics&nbsp;</a></li>
                <li class="nav-item"><a href="#About_id" class="nav-link" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
                </li>
                <li class="nav-item"><a href="#Bots_id" class="nav-link" data-text="&nbsp;Bots">&nbsp;Bots&nbsp;</a>
                </li>
                <li class="nav-item"><a href="#Team_id" class="nav-link" data-text="&nbsp;Team">&nbsp;Team&nbsp;</a>
                </li>
                <li class="nav-item"><a href="#Contact_id" class="nav-link" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a></li>
            </ul>

            <div class="login-button">
                <button><a href="#">Entrar</a></button>
            </div>
        </div>
    </header>

    <main>

        <div id="Graphics_id" class="img-slider">

            <div class="slide-container">
                <div class="slide active">
                    <div class="chart" id="chart"></div>
                    <div class="info">
                        <h2>Slide 01</h2>
                        <p>Lorem ipsolom 12345678 asjadhjashd asas</p>
                    </div>
                </div>

                <div class="slide active">
                    <div class="chart" id="chart"></div>
                    <div class="info">
                        <h2>Slide 02</h2>
                        <p>Lorem ipsolom 12345678 asjadhjashd asas</p>
                    </div>
                </div>

                <div class="slide active">
                    <div class="chart" id="chart"></div>
                    <div class="info">
                        <h2>Slide 03</h2>
                        <p>Lorem ipsolom 12345678 asjadhjashd asas</p>
                    </div>
                </div>

                <div class="slide active">
                    <div class="chart" id="chart"></div>
                    <div class="info">
                        <h2>Slide 01</h2>
                        <p>Lorem ipsolom 12345678 asjadhjashd asas</p>
                    </div>
                </div>

                <div class="navigation">
                    <div class="btn active"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                </div>
            </div>
        </div>


        <div id="About_id" class="aboutSectionContainer">
            <img src="assets/IMG/Gyraph_logo_alone.png" alt="">

            <div class="aboutSectionContainer_texts">
                <h1>T.A.B (Trade Asynchronous Bot)</h1>

                <p>T.A.B (Trade Asynchronous Bot) é um software
                    desenvolvido em Python para ser capaz de fazer
                    operações de compra e venda de criptomoedas.
                    Alem disso, ele tem autonomia de decisão nas
                    transações pois é capaz de jugar o melhor
                    momento de faze-las.
                    Para montar a lógica do robô e torna-lo
                    realmente eficiente, levamos em consideração
                    os conceitos apresentados em:

                    The Axioms of Zurich – Max Gunther.
                    Technical Analysis of the Financial Markets: A
                    Comprehensive Guide to Trading Methods and
                    Applications - John J. Murphy.</p>
            </div>


        </div>

        <!-- Swiper -->
        <div id="Bots_id" class="botsSectionContainer">
            <h1>Test Different Bots</h1>

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h3 class="bot-name">Bot-01</h3>
                        <p class="bot-spec">Specific details about this bot.</p>
                        <img src="https://images.unsplash.com/photo-1538127426967-75a6c73f6d20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="bot-name">Bot-02</h3>
                        <p class="bot-spec">Specific details about this bot.</p>
                        <img src="https://images.unsplash.com/photo-1618641662184-bafefb91a542?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="bot-name">Bot-03</h3>
                        <p class="bot-spec">Specific details about this bot.</p>
                        <img src="https://images.unsplash.com/photo-1472645977521-95bbf4f0a748?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="bot-name">Bot-04</h3>
                        <p class="bot-spec">Specific details: Coming soon...</p>
                        <img src="https://images.unsplash.com/photo-1579772991680-1194ef83d407?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="bot-name">Bot-05</h3>
                        <p class="bot-spec">Specific details: Coming soon...</p>
                        <img src="https://images.unsplash.com/photo-1598977123118-4e30ba3c4f5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="bot-name">Bot-06</h3>
                        <p class="bot-spec">Specific details: Coming soon...</p>
                        <img src="https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                            alt="">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>


        <div id="Team_id" class="teamSectionContainer">
            <h1>Meet our Team</h1>

            <div class="member-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h3 class="member-name">Leonardo</h3>
                        <p class="member-spec">Software Developer</p>
                        <img class="team_photo" src="/assets/IMG/Leonardo_Vieira.jpeg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="member-name">Caique</h3>
                        <p class="member-spec">FullStack Developer</p>
                        <img class="team_photo" src="/assets/IMG/Caique_Sales.jpeg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>






    </main>

    <footer id="Contact_id">

        <div class="footer-content">
            <h3> TAB project</h3>
            <p>Helping investors make the best of crypto transaction.<br>
                Facilitating the attainment of a wealthier future.<br>
                Making your life easier by taking the responsability of investing.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/shakira/?locale=pt_BR" target="_blank" id="Facebook"></a></li>
                <li><a href="https://www.linkedin.com/in/caique-sales-miranda-gomes-9b9a66185/" target="_blank"
                        id="LinkedIn"></a></li>
                <li><a href="https://twitter.com/BarackObama" target="_blank" id="Twitter"></a></li>

            </ul>
        </div>

        <div class="footer-bottom">
            <p>copyright &copy;2023 TAB PROJECT. designed by <span>kiqsmg and leo_vieira</span></p>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="{{ url_for('static' , filename='chart.js') }}"></script>


</body>

</html>